<ng-container *ngIf="chuyen">
  <Card>
    <CardHeader
      [title]="chuyen['biensoxe']['biensoxe']"
      [extra]="extra"
      [thumb]="'./assets/imgs/iconxetai.jpg'"
      [thumbStyle]="thumbStyle"
    >
      <ng-template #extra >
        <span *ngIf="chuyen">{{chuyen['ngaydi'] | date:"dd/MM/yyyy"}}</span>
        <ng-container *ngIf="chuyen">
          <div class="copy-container">
            <a nz-button nzType="link" class="copy-link"> {{chuyen['soodt']}}</a>
            <button nz-button [cdkCopyToClipboard]="copy(chuyen['soodt'])" nzType="default" nzShape="circle"><span nz-icon nzType="copy"></span></button>
          </div>
        </ng-container>
      </ng-template>
    </CardHeader>
    <CardBody>
      <div><span *ngIf="chuyen">Tuyến đường: <strong>{{chuyen['changduong']}}</strong></span></div>
      <div><span *ngIf="chuyen">Tiền ứng trước: <strong>{{chuyen['tienxe']*1000 | currency : "VND"}}</strong> </span></div>
      <div><span *ngIf="chuyen">Tài Phụ: <strong>{{chuyen['idphu']['name']}}</strong></span></div>
    </CardBody>
    <CardFooter [content]="''" [extra]="footerExtra">
      <ng-template #footerExtra>
        <div>
            <button Button [type]="'primary'" [inline]="true" style="margin-right: 4px" [size]="'small'" (click)="add()">Thêm Hàng</button>
        </div>
      </ng-template>
    </CardFooter>
</Card>
<div class="chitietbochang">
  <h3 class="title-comm"><span class="title-holder">Hàng đi</span></h3>
  <List [className]="'my-list'">
    <ListItem *ngFor="let lst of lsthangdi" wrap  [className]="'spe'">
      <div>Người gửi: <span [ngClass]="['hstyle']">{{lst['iduser']['name']}}- ĐT: <a href="tel:{{lst['iduser']['dienthoai']}}"><u>{{lst["iduser"]["dienthoai"]}}</u></a></span> </div>
      <div>
        Thông tin: <span [ngClass]="['hstyle']">{{lst['noidungdonhang']}}</span>
      </div>
      <div>
        Địa chỉ bốc hàng: <span [ngClass]="['hstyle']">{{lst['diadiembochang']}}</span>
      </div>
      <div>
        Tiền Cước : <span [ngClass]="['hstyle']">{{lst['tiencuoc']*1000 | currency : "VND"}} - HTTT: {{mergeHttt(lst['hinhthucthanhtoan'])}}</span>
      </div>
      <div>
        Người Nhận: <span [ngClass]="['hstyle']">{{lst['tennguoinhan']}} - ĐT: <a href="tel:{{lst['sdtnguoinhan']}}"><u>{{lst['sdtnguoinhan']}}</u></a></span>
      </div>
      <div>
        Địa chỉ người nhận: <span [ngClass]="['hstyle']">{{lst['diachinguoinhan']}}</span>
      </div>
      <div>
        Ghi chú : <span [ngClass]="['hstyle']">{{lst['ghichu']}}</span>
      </div>
      <div [ngClass]="['myDiv']">
        <a Button [type]="'primary'" [size]="'small'" [inline]="true">
          Đã giao hàng
        </a>
      </div>
      <div>
        <!-- hihi <div class="am-demo-page">
          <div class="am-demo-bd am-wingblank am-wingblank-lg">
            <div>
              <Steps [current]="lst['trangthai']">
                <Step [title]="steps[0].title"></Step>
                <Step [title]="steps[1].title"></Step>
                <Step [title]="steps[2].title"></Step>
              </Steps>
            </div>
            <div class="steps-action">
              <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                <span>Previous</span>
              </button>
              <button nz-button nzType="default" id="next" name="next" (click)="next(lst['trangthai'])" *ngIf="lst['trangthai'] < 2">
                <span>Next</span>
              </button>
              <button nz-button nzType="primary" id="next" name="next" (click)="done(lst['trangthai'])" *ngIf="lst['trangthai'] === 2">
                <span>Done</span>
              </button>
            </div>
          </div>
        </div> -->
      </div>
    </ListItem>
  </List>
  <h3 class="title-comm"><span class="title-holder">Hàng về</span></h3>
  <List [className]="'my-list'">

    <ListItem *ngFor="let lst of lsthangve" wrap  [className]="'spe'">
      <div>Người gửi: <span [ngClass]="['hstyle']">{{lst['iduser']['name']}}- ĐT: <a href="tel:{{lst['iduser']['dienthoai']}}"><u>{{lst["iduser"]["dienthoai"]}}</u></a></span> </div>
      <div>
        Thông tin: <span [ngClass]="['hstyle']">{{lst['noidungdonhang']}}</span>
      </div>
      <div>
        Địa chỉ bốc hàng: <span [ngClass]="['hstyle']">{{lst['diadiembochang']}}</span>
      </div>
      <div>
        Tiền Cước : <span [ngClass]="['hstyle']">{{lst['tiencuoc']*1000 | currency : "VND"}} - HTTT: {{mergeHttt(lst['hinhthucthanhtoan'])}}</span>
      </div>
      <div>
        Người Nhận: <span [ngClass]="['hstyle']">{{lst['tennguoinhan']}} - ĐT: <a href="tel:{{lst['sdtnguoinhan']}}"><u>{{lst['sdtnguoinhan']}}</u></a></span>
      </div>
      <div>
        Địa chỉ người nhận: <span [ngClass]="['hstyle']">{{lst['diachinguoinhan']}}</span>
      </div>
      <div>
        Ghi chú : <span [ngClass]="['hstyle']">{{lst['ghichu']}}</span>
      </div>
      <div [ngClass]="['myDiv']">
        <a Button [type]="'primary'" [size]="'small'" [inline]="true">
          Đã giao hàng
        </a>
      </div>
    </ListItem>

  </List>
  <h3 class="title-comm"><span class="title-holder">An toàn là trên hết</span></h3>

</div>
</ng-container>

<ng-container *ngIf="!chuyen">
  <h3 class="title-comm"><span class="title-holder">Không có chuyên hàng nào !</span></h3>
</ng-container>

