<ng-container *ngIf="chuyen">
  <Card>
    <CardHeader
      [title]="chuyen['biensoxe']['biensoxe']"
      [extra]="extra"
      [thumb]="'./assets/imgs/iconxetai.jpg'"
      [thumbStyle]="thumbStyle"
    >
      <ng-template #extra >
        <span *ngIf="chuyen">{{chuyen['ngaydi'] | date:"dd/MM/yyyy"}}</span>
        <ng-container *ngIf="chuyen">
          <div class="copy-container">
            <a nz-button nzType="link" class="copy-link"> {{chuyen['soodt']}}</a>
            <button nz-button [cdkCopyToClipboard]="copy(chuyen['soodt'])" nzType="default" nzShape="circle"><span nz-icon nzType="copy"></span></button>
          </div>
        </ng-container>
      </ng-template>
    </CardHeader>
    <CardBody>
      <div><span *ngIf="chuyen">Tuyến đường: <strong>{{chuyen['changduong']}}</strong></span></div>
      <div><span *ngIf="chuyen">Tiền ứng trước: <strong>{{chuyen['tienxe']*1000 | currency : "VND"}}</strong> </span></div>
      <div><span *ngIf="chuyen">Tài Phụ: <strong>{{chuyen['idphu']['name']}}</strong></span></div>
    </CardBody>
    <CardFooter [content]="''" [extra]="footerExtra">
      <ng-template #footerExtra>
        <div>
            <button Button [type]="'primary'" [inline]="true" style="margin-right: 4px" [size]="'small'" (click)="add()">Thêm Hàng</button>
            <button Button [type]="'primary'" [inline]="true" style="margin-right: 4px" [size]="'small'" (click)="chiphi()">Chi phí</button>
        </div>
      </ng-template>
    </CardFooter>
</Card>
<div class="chitietbochang">
  <h3 class="title-comm"><span class="title-holder">Hàng đi</span></h3>
  <List [className]="'my-list'">
    <ListItem *ngFor="let lst of lsthangdi" wrap  [className]="'spe'">
      <div>Người gửi: <span [ngClass]="['hstyle']">{{lst['iduser']['name']}}- ĐT: <a href="tel:{{lst['iduser']['dienthoai']}}"><u>{{lst["iduser"]["dienthoai"]}}</u></a></span> </div>
      <div>
        Tên hàng: <span [ngClass]="['hstyle']">{{lst['tenhang']}}</span>
      </div>
      <div>
        Số Lượng: <span [ngClass]="['hstyle']">{{lst['soluong']}}</span>
      </div>
      <div>
        Đơn vị tính: <span [ngClass]="['hstyle']">{{lst['donvitinh']}}</span>
      </div>
      <div>
        Địa chỉ bốc hàng: <span [ngClass]="['hstyle','nodestyle']">{{lst['diadiembochang']}}</span>
      </div>
      <div>
        Tiền Cước : <span [ngClass]="['hstyle','nodestyle']">{{lst['tiencuoc']*1000 | currency : "VND"}} - HTTT: {{mergeHttt(lst['hinhthucthanhtoan'])}}</span>
      </div>
      <div>
        Người Nhận: <span [ngClass]="['hstyle']">{{lst['tennguoinhan']}} - ĐT: <a href="tel:{{lst['sdtnguoinhan']}}"><u>{{lst['sdtnguoinhan']}}</u></a></span>
      </div>
      <div>
        Địa chỉ người nhận: <span [ngClass]="['hstyle']">{{lst['diachinguoinhan']}}</span>
      </div>
      <div>
        Ghi chú : <span [ngClass]="['hstyle']">{{lst['ghichu']}}</span>
      </div>
      <div [ngClass]="['myDiv']">
        <ng-container *ngIf="lst['status01']==0 else dagiaohangTpl">
          <a Button [type]="'primary'" [size]="'small'" [inline]="true" (click)="updateStatus01(lst['id'],'BOCHANG')">
            Đã bóc hàng
          </a>
        </ng-container>
        <ng-template #dagiaohangTpl>
          <ng-container *ngIf="lst['status01']==1 else BtnDis">
            <a Button [type]="'primary'" [size]="'small'" [inline]="true" (click)="updateStatus01(lst['id'],'GIAOHANG')">
              Đã giao hàng
            </a>
          </ng-container>
          <ng-template #BtnDis>
            <a Button [type]="'primary'" [size]="'small'" [inline]="true"  [disabled]="true">
               Hoàn thành
            </a>
          </ng-template>
        </ng-template>
      </div>
    </ListItem>
  </List>
  <h3 class="title-comm"><span class="title-holder">Hàng về</span></h3>
  <List [className]="'my-list'">

    <ListItem *ngFor="let lst of lsthangve" wrap  [className]="'spe'">
      <div>Người gửi: <span [ngClass]="['hstyle']">{{lst['iduser']['name']}}- ĐT: <a href="tel:{{lst['iduser']['dienthoai']}}"><u>{{lst["iduser"]["dienthoai"]}}</u></a></span> </div>
      <div>
        Tên hàng: <span [ngClass]="['hstyle']">{{lst['tenhang']}}</span>
      </div>
      <div>
        Số Lượng: <span [ngClass]="['hstyle']">{{lst['soluong']}}</span>
      </div>
      <div>
        Đơn vị tính: <span [ngClass]="['hstyle']">{{lst['donvitinh']}}</span>
      </div>
      <div>
        Địa chỉ bốc hàng: <span [ngClass]="['hstyle']">{{lst['diadiembochang']}}</span>
      </div>
      <div>
        Tiền Cước : <span [ngClass]="['hstyle']">{{lst['tiencuoc']*1000 | currency : "VND"}} - HTTT: {{mergeHttt(lst['hinhthucthanhtoan'])}}</span>
      </div>
      <div>
        Người Nhận: <span [ngClass]="['hstyle']">{{lst['tennguoinhan']}} - ĐT: <a href="tel:{{lst['sdtnguoinhan']}}"><u>{{lst['sdtnguoinhan']}}</u></a></span>
      </div>
      <div>
        Địa chỉ người nhận: <span [ngClass]="['hstyle']">{{lst['diachinguoinhan']}}</span>
      </div>
      <div>
        Ghi chú : <span [ngClass]="['hstyle']">{{lst['ghichu']}}</span>
      </div>
      <div [ngClass]="['myDiv']">
        <ng-container *ngIf="lst['status01']==0 else dagiaohangTpl">
          <a Button [type]="'primary'" [size]="'small'" [inline]="true" (click)="updateStatus01(lst['id'],'BOCHANG')">
            Đã bốc hàng
          </a>
        </ng-container>
        <ng-template #dagiaohangTpl>
          <ng-container *ngIf="lst['status01']==1 else BtnDis">
            <a Button [type]="'primary'" [size]="'small'" [inline]="true" (click)="updateStatus01(lst['id'],'GIAOHANG')">
              Đã giao hàng
            </a>
          </ng-container>
          <ng-template #BtnDis>
            <a Button [type]="'primary'" [size]="'small'" [inline]="true"  [disabled]="true">
              Hoàn thành
            </a>
          </ng-template>
        </ng-template>
      </div>
    </ListItem>

  </List>
  <h3 class="title-comm"><span class="title-holder">An toàn là trên hết</span></h3>

</div>
</ng-container>

<ng-container *ngIf="!chuyen">
  <h3 class="title-comm"><span class="title-holder">Không có chuyên hàng nào !</span></h3>
</ng-container>

