<app-card-table-wrap [tableTitle]="'Danh Sách Số ID'" (reload)="reloadTable()">
    <app-ant-table [tableConfig]="tableConfig" (changePageSize)="changePageSize($event)" (changePageNum)="getDataList($event)" [tableData]="dataList"></app-ant-table>
    <ng-template #operationTpl let-soID="soID" let-iduser="iduser" let-tiencuoc="tiencuoc" let-noidungdonhang="noidungdonhang" let-soluong="soluong" let-donvitinh="donvitinh" let-diadiembochang="diadiembochang" let-hinhthucthanhtoan="hinhthucthanhtoan" let-tennguoinhan="tennguoinhan" let-sdtnguoinhan="sdtnguoinhan" let-diachinguoinhan="diachinguoinhan" let-ghichu="ghichu">
        <a nz-button nzType="link"  (click)="getItem(soID,iduser,tiencuoc,noidungdonhang,soluong,donvitinh,diadiembochang,hinhthucthanhtoan,tennguoinhan,sdtnguoinhan,diachinguoinhan,ghichu)">{{soID}}</a>
    </ng-template>
    <ng-template #tenkhachhangTpl let-iduser="iduser" >
        <nz-alert nzType="success" nzMessage="{{iduser['name']}}"></nz-alert>
    </ng-template>
    <ng-template #availableFlag>
        <nz-alert nzType="success" nzMessage="Trong kho"></nz-alert>
    </ng-template>
    <ng-template #tiencuocTpl let-tiencuoc="tiencuoc">
        <span>{{tiencuoc*1000 | currency : "VND" : ''}}</span>
    </ng-template>
    <ng-template #htttTpl let-hinhthucthanhtoan="hinhthucthanhtoan">
        <span>{{mergeHttt(hinhthucthanhtoan)}}</span>
      </ng-template>
</app-card-table-wrap>
