<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<div class="normal-table-wrap">
    <nz-card nzHoverable [nzBodyStyle]="{ 'padding-bottom': 0 }" class="m-b-10">
        <form nz-form>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Ngày bắt đầu</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-date-picker
                                name="ngaybatdau"
                                [nzDisabledDate]="disabledStartSoplnDate" 
                                [nzFormat]="dateFormat" 
                                [(ngModel)]="ngaybatdau" 
                                [nzPlaceHolder]="dateFormat"
                                (nzOnOpenChange)="handleStartOpenSoplnChange($event)">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="">Ngày kết thúc</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-date-picker
                                name="ngayketthuc"
                                #endSoplnDate
                                [nzDisabledDate]="disabledEndSoplnDate" 
                                [nzFormat]="dateFormat" 
                                [(ngModel)]="ngayketthuc" 
                                [nzPlaceHolder]="dateFormat"
                                (nzOnOpenChange)="handleEndOpenSoplnChange($event)">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24"  class="text-right p-0 m-b-10">
                    <button (click)="getDataList()" nz-button [nzType]="'primary'">
                        <i nz-icon nzType="search"></i>
                        Tìm kiếm
                      </button>
                      <button nz-button class="m-l-15" (click)="resetForm()">
                        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                        Làm mới
                      </button>
                </div>
            </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24" class="inputIcon">
                    <nz-form-item>
                        <!-- Nguồn xe -->
                        <nz-form-label  [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24">Nguồn xe</nz-form-label>
                        <nz-form-control  [nzXXl]="10" [nzXl]="10" [nzLg]="10" [nzMd]="10" [nzSm]="20" [nzXs]="24">
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonTaixe">
                                <input name="idtai" type="text" nz-input [(ngModel)]="searchParam.nguonxe" placeholder="" (blur)="fnFocusOutNguonxe()"/>
                            </nz-input-group>
                            <ng-template #suffixIconButtonTaixe>
                                <button nz-button class="bg-icon" (click)="searchNguonXeClick()" [nzType]="'primary'"><span nz-icon nzType="search"></span></button>
                            </ng-template>
                            <nz-form-label [nzNoColon]="true" nzFor="" class="fix-inputIcon"><span><u>{{nguonxenm}}</u></span></nz-form-label>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24" class="inputIcon">
                    <nz-form-item>
                        <!-- Khách hàng -->
                        <nz-form-label  [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24">Khách hàng</nz-form-label>
                        <nz-form-control  [nzXXl]="10" [nzXl]="10" [nzLg]="10" [nzMd]="10" [nzSm]="20" [nzXs]="24">
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButtonPhuxe">
                                <input name="idphu" type="text" nz-input [(ngModel)]="searchParam.idkhachhang" placeholder="" (blur)="fnFocusOutKhachhang()"/>
                            </nz-input-group>
                            <ng-template #suffixIconButtonPhuxe>
                                <button nz-button class="bg-icon" (click)="searchKhachHangClick()" [nzType]="'primary'"><span nz-icon nzType="search"></span></button>
                            </ng-template>
                            <nz-form-label [nzNoColon]="true" nzFor="" class="fix-inputIcon"><span><u>{{khachhangnm}}</u></span></nz-form-label>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" >Số ODS</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzErrorTip]="''">
                            <input nz-input name="soods" id="soods" [(ngModel)]="searchParam.soods" placeholder=""/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <!-- status02 -->
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24">Trạng thái</nz-form-label>
                        <nz-form-control [nzXXl]="15" [nzXl]="15" [nzLg]="15" [nzMd]="15" [nzSm]="24" [nzXs]="24">
                            <nz-radio-group id="status02" name="status02" [(ngModel)]="searchParam.status02">
                                <label nz-radio nzValue="1"> Chưa lấy biên lai </label>
                                <label nz-radio nzValue="2"> Đã lấy biên lai</label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </nz-card>
    <app-card-table-wrap [tableTitle]="'Kết quả tìm kiếm'" (reload)="reloadTable()" [btnTpl]="tableBtns">
        <app-ant-table
        (selectedChange)="selectedChecked($event)"
        [checkedCashArrayFromComment]="checkedCashArray"
        (changePageSize)="changePageSize($event)"
        (changePageNum)="getDataList($event)"
        [tableConfig]="tableConfig"
        [tableData]="dataList"
      ></app-ant-table>
      <ng-template #operationTpl let-soods="soods">
          <span>{{soods}} </span>
          <button nz-button [cdkCopyToClipboard]="copy(soods)" nzType="default" nzShape="circle"><span nz-icon nzType="copy"></span></button>
      </ng-template>
      <ng-template #tiencuocTpl let-tiencuoc="tiencuoc">
        <span>{{tiencuoc*1000 | currency : "VND" : ""}}</span>
      </ng-template>
      <ng-template #tiencuocxengoaiTpl let-tiencuocxengoai="tiencuocxengoai">
        <span>{{tiencuocxengoai*1000 | currency : "VND" : ""}}</span>
      </ng-template>
      <ng-template #khachhangTpl let-idkhachhang="idkhachhang">
        <span>{{idkhachhang['name']}}</span>
      </ng-template>
      <ng-template #nguonxeTpl let-nguonxe="nguonxe">
        <span>{{nguonxe['datacd']}}-{{nguonxe['datanm']}}</span>
      </ng-template>
    </app-card-table-wrap>
    <ng-template #tableBtns>
        <button *appAuth="ActionCode.Thohoibienlai" (click)="thuhoibienlai()" nz-button nzType="primary">
          <i nz-icon nzType="check-circle"></i>
          Thu hồi biên lai
        </button>
    </ng-template>
</div>
