<form nz-form [formGroup]="addEditForm">
    <ng-container  *ngIf="isEdit">
        <nz-form-item>
            <!-- Số thứ tự -->
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="stt">Số thứ tự</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập ...">
              <input nz-input formControlName="stt" name="stt" placeholder="" id="stt" [readOnly]="true"/>
            </nz-form-control>
        </nz-form-item>
    </ng-container>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="noidungdonhang">Tên hàng</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập tên hàng">
          <input nz-input formControlName="noidungdonhang" name="noidungdonhang" placeholder="" id="noidungdonhang"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="soluong">Số lượng</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập số lượng">
            <nz-input-number name="soluong" id="soluong" formControlName="soluong" [nzMin]="0" [nzMax]="10000" [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired nzFor="trongluong">Trọng lượng</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="">
            <nz-input-number name="trongluong" id="trongluong" formControlName="trongluong" [nzMin]="0" [nzMax]="100" [nzStep]="0.001"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired  nzFor="khoiluong">Khối lượng</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="">
            <nz-input-number name="khoiluong" id="khoiluong" formControlName="khoiluong" [nzMin]="0" [nzMax]="100" [nzStep]="0.001"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <!-- (ngModelChange)="changeKho($event)" -->
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="donvitinh">Đơn vị tính</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng chọn đơn vị tính">
            <nz-select
            name="donvitinh"
            id="donvitinh"
            formControlName="donvitinh"
            nzAllowClear
            nzShowSearch
            nzPlaceHolder="Select"
            
          >
            <nz-option *ngFor="let option of listdonvitinh" [nzValue]="option['value']" [nzLabel]="option['lable']"></nz-option>
          </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="trongtai">Tiền cước</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập tiền cước">
            <nz-input-number name="tiencuoc" id="tiencuoc" formControlName="tiencuoc" [nzMin]="0" [nzMax]="50000" [nzStep]="100"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="makho">Mã kho</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng chọn mã kho">
            <nz-select
            name="makho"
            id="makho"
            formControlName="makho"
            nzAllowClear
            nzShowSearch
            nzPlaceHolder="Select"
            (ngModelChange)="changeKho($event)"
          >
            <nz-option *ngFor="let option of listKho" [nzValue]="option['datacd']" [nzLabel]="option['datanm']"></nz-option>
          </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="trongtai">Địa điểm bóc hàng</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập địa điểm bóc hàng">
            <input nz-input formControlName="diadiembochang" name="diadiembochang" placeholder="" id="diadiembochang" #diadiembochang/>
        </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="tennguoinhan">Tên người Nhận</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập tên người nhận">
          <input nz-input formControlName="tennguoinhan" name="tennguoinhan" placeholder="" id="tennguoinhan"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sdtnguoinhan">SDT người Nhận</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập tên người nhận">
          <input nz-input formControlName="sdtnguoinhan" name="sdtnguoinhan" placeholder="" id="sdtnguoinhan"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="diachinguoinhan">Địa chỉ người Nhận</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập tên người nhận">
          <input nz-input formControlName="diachinguoinhan" name="diachinguoinhan" placeholder="" id="diachinguoinhan"/>
        </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="!isCollapse">
        <div [ngClass]="['chiphidutru']">
            <h3 [ngClass]="['styleh3']">Tăng bo nhập hàng</h3>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="nguonxenhaphang">Nguồn xe</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                    <nz-select
                        name="nguonxenhaphang"
                        id="nguonxenhaphang"
                        formControlName="nguonxenhaphang"
                        nzAllowClear
                        nzShowSearch
                        nzPlaceHolder="Select"
                        (ngModelChange)="changeTangbonhaphang($event)"
                    >
                        <nz-option *ngFor="let option of listnguonxe" [nzValue]="option['id']" [nzLabel]="option['datanm']"></nz-option>
                    </nz-select>
                </nz-form-control>
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="sotiennhaphang">Số tiền</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                    <nz-input-number name="sotiennhaphang" id="sotiennhaphang" formControlName="sotiennhaphang" [nzMin]="0" [nzMax]="50000" [nzStep]="100"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <ng-container *ngIf="!isCollapsenhaphang">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="tentaixe">Tài xế</nz-form-label>
                    <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                        <!-- (ngModelChange)="fnChangeTaiXe($event)" -->
                        <nz-select name="tentaixe" nzShowSearch nzAllowClear nzPlaceHolder="Select" formControlName="tentaixenhaphang">
                            <nz-option *ngFor="let lst of listtaixe" nzLabel="{{lst['datacd']}}" nzValue="{{lst['datacd']}}"></nz-option>
                        </nz-select>
                    </nz-form-control>
                    <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="biensoxe">Biển số xe</nz-form-label>
                    <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                        <!-- (ngModelChange)="fnChangeTaiXe($event)" -->
                        <nz-select name="biensoxe" nzShowSearch nzAllowClear nzPlaceHolder="Select" formControlName="biensoxenhaphang" >
                            <nz-option *ngFor="let lst of listbsxe" nzLabel="{{lst['datanm']}}" nzValue="{{lst['datacd']}}"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </ng-container>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="htttnhaphang">Hinh thức thanh toán</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="">
                  <nz-radio-group formControlName="htttnhaphang">
                    <label nz-radio [nzValue]="1">Trực tiếp</label>
                    <label nz-radio [nzValue]="0">Ghi Nợ</label>
                  </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <div [ngClass]="['gap']"></div>
            <h3 [ngClass]="['styleh3']">Tăng bo trả hàng</h3>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="nguonxetrahang">Nguôn xe</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                    <nz-select
                        name="nguonxetrahang"
                        id="nguonxetrahang"
                        formControlName="nguonxetrahang"
                        nzAllowClear
                        nzShowSearch
                        nzPlaceHolder="Select"
                        (ngModelChange)="changeTangbotrahang($event)"
                    >
                        <nz-option *ngFor="let option of listnguonxe" [nzValue]="option['id']" [nzLabel]="option['datanm']"></nz-option>
                    </nz-select>
                </nz-form-control>
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="sotientrahang">Số tiền</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                    <nz-input-number name="sotientrahang" id="sotientrahang" formControlName="sotientrahang" [nzMin]="0" [nzMax]="50000" [nzStep]="100"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <ng-container *ngIf="!isCollapsetrahang">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="tentaixe">Tài xế</nz-form-label>
                    <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                        <!-- (ngModelChange)="fnChangeTaiXe($event)" -->
                        <nz-select name="tentaixe" nzShowSearch nzAllowClear nzPlaceHolder="Select" formControlName="tentaixetrahang">
                            <nz-option *ngFor="let lst of listtaixe" nzLabel="{{lst['datacd']}}" nzValue="{{lst['datacd']}}"></nz-option>
                        </nz-select>
                    </nz-form-control>
                    <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="biensoxe">Biển số xe</nz-form-label>
                    <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                        <!-- (ngModelChange)="fnChangeTaiXe($event)" -->
                        <nz-select name="biensoxe" nzShowSearch nzAllowClear nzPlaceHolder="Select" formControlName="biensoxetrahang" >
                            <nz-option *ngFor="let lst of listbsxe" nzLabel="{{lst['datanm']}}" nzValue="{{lst['datacd']}}"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </ng-container>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="httttrahang">Hinh thức thanh toán</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="">
                  <nz-radio-group formControlName="httttrahang">
                    <label nz-radio [nzValue]="1">Trực tiếp</label>
                    <label nz-radio [nzValue]="0">Ghi Nợ</label>
                  </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <div [ngClass]="['gap']"></div>
            <h3 [ngClass]="['styleh3']">Dịch vụ xe cẩu</h3>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="xecau">Nhà cung cấp</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                    <nz-select
                        name="xecau"
                        id="xecau"
                        formControlName="xecau"
                        nzAllowClear
                        nzShowSearch
                        nzPlaceHolder="Select"
                        (ngModelChange)="changeDichvuxecau($event)"
                    >
                        <nz-option *ngFor="let option of listxecau" [nzValue]="option['id']" [nzLabel]="option['tennhacungcap']"></nz-option>
                    </nz-select>
                </nz-form-control>
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="sotienxecau">Số tiền</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                    <nz-input-number name="sotienxecau" id="sotienxecau" formControlName="sotienxecau" [nzMin]="0" [nzMax]="50000" [nzStep]="100"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="htttxecau">Hinh thức thanh toán</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="">
                  <nz-radio-group formControlName="htttxecau">
                    <label nz-radio [nzValue]="1">Trực tiếp</label>
                    <label nz-radio [nzValue]="0">Ghi Nợ</label>
                  </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <div [ngClass]="['gap']"></div>
            <h3 [ngClass]="['styleh3']">Dịch vụ bốc xếp</h3>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="bocxep">Nhà cung cấp</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                    <nz-select
                        name="bocxep"
                        id="bocxep"
                        formControlName="bocxep"
                        nzAllowClear
                        nzShowSearch
                        nzPlaceHolder="Select"
                        (ngModelChange)="changeDichvubocxep($event)"
                    >
                        <nz-option *ngFor="let option of listbocxep" [nzValue]="option['id']" [nzLabel]="option['tennhacungcap']"></nz-option>
                    </nz-select>
                </nz-form-control>
                <nz-form-label [nzSm]="6" [nzXs]="24"  nzFor="sotienbocxep">Số tiền</nz-form-label>
                <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="">
                    <nz-input-number name="sotienbocxep" id="sotienbocxep" formControlName="sotienbocxep" [nzMin]="0" [nzMax]="50000" [nzStep]="100"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="htttbocxep">Hinh thức thanh toán</nz-form-label>
                <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="">
                  <nz-radio-group formControlName="htttbocxep">
                    <label nz-radio [nzValue]="1">Trực tiếp</label>
                    <label nz-radio [nzValue]="0">Ghi Nợ</label>
                  </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
       </div>
    </ng-container>
    <a class="collapse operate-text" (click)="toggleCollapse()">
        <span *ngIf="isCollapse">Chi phí dịch vụ thuê ngoài</span>
        <span *ngIf="!isCollapse">Đóng</span>
        <i nz-icon [nzType]="isCollapse ? 'down' : 'up'"></i>
    </a>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ghichu">Ghi chú</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="">
            <textarea
                nz-input
                formControlName="ghichu"
                placeholder="Mốt số ghi chú về thông tin đơn hàng."
                [nzAutosize]="{ minRows: 2, maxRows: 6 }"
            ></textarea>
        </nz-form-control>
    </nz-form-item>
</form>
