<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<div class="normal-table-wrap">
    <nz-card nzHoverable [nzBodyStyle]="{ 'padding-bottom': 0 }" class="m-b-10">
        <form nz-form>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Ngày bắt đầu</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-date-picker
                                name="ngaybatdau"
                                [nzDisabledDate]="disabledStartSoplnDate" 
                                [nzFormat]="dateFormat" 
                                [(ngModel)]="ngaybatdau" 
                                [nzPlaceHolder]="dateFormat"
                                (nzOnOpenChange)="handleStartOpenSoplnChange($event)">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="">Ngày kết thúc</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-date-picker
                                name="ngayketthuc"
                                #endSoplnDate
                                [nzDisabledDate]="disabledEndSoplnDate" 
                                [nzFormat]="dateFormat" 
                                [(ngModel)]="ngayketthuc" 
                                [nzPlaceHolder]="dateFormat"
                                (nzOnOpenChange)="handleEndOpenSoplnChange($event)">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24"  class="text-right p-0 m-b-10">
                    <button (click)="getDataList()" nz-button [nzType]="'primary'">
                        <i nz-icon nzType="search"></i>
                        Tìm kiếm
                      </button>
                      <button nz-button class="m-l-15" (click)="resetForm()">
                        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                        Làm mới
                      </button>
                </div>
            </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Nguồn xe</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24"  [nzErrorTip]="">
                            <nz-select name="nguonxe" nzShowSearch nzAllowClear nzPlaceHolder="Select" [(ngModel)]="searchParam.nguonxe">
                                <nz-option *ngFor="let lst of listnguonxe" nzLabel="{{lst['datacd']}} - {{lst['datanm']}}" nzValue="{{lst['id']}}"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Biển số xe</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzErrorTip]="">
                            <input nz-input name="biensoxe" id="biensoxe" [(ngModel)]="searchParam.biensoxe" placeholder=""/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </nz-card>
    <app-card-table-wrap [tableTitle]="'Kết quả tìm kiếm'" (reload)="reloadTable()" [btnTpl]="tableBtns">
        <app-ant-table
        (selectedChange)="selectedChecked($event)"
        [checkedCashArrayFromComment]="checkedCashArray"
        (changePageSize)="changePageSize($event)"
        (changePageNum)="getDataList($event)"
        [tableConfig]="tableConfig"
        [tableData]="dataList"
      ></app-ant-table>
      <ng-template #nguonxeTpl let-nguonxe="nguonxe">
          <span>{{nguonxe['datacd']}}-{{nguonxe['datanm']}}</span>
      </ng-template>
      <ng-template #operationTpl let-id="id">
        <span *appAuth="ActionCode.TimkiemchuyenngoaiUpdate" class="operate-text">
            <button nz-button nzType="primary" nzGhost (click)="transferSpch00251(id, 'update')" [disabled]="showUpdate">Cập nhật</button>
        </span>
      </ng-template>
      <ng-template #machuyenngoaiTpl let-id="id">
        <a nz-button (click)="transferSpch00251(id,'link')" nzType="link" nzBlock>{{id}}</a>
      </ng-template>
    </app-card-table-wrap>
    <ng-template #tableBtns>
        <button *appAuth="ActionCode.TimkiemchuyenngoaiAdd" (click)="add()" nz-button nzType="primary" class="m-r-8">
          <i nz-icon nzType="plus"></i>
          Thêm mới
        </button>
        <button *appAuth="ActionCode.TimkiemchuyenngoaiDelete" (click)="allDel()" [disabled]="showDelete" nz-button nzType="default">
          <i nz-icon nzType="delete"></i>
          Xóa
        </button>
    </ng-template>
</div>
