<app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<div class="normal-table-wrap">
    <nz-card nzHoverable [nzBodyStyle]="{ 'padding-bottom': 0 }" class="m-b-10">
        <form nz-form>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Mã chuyến ngoài</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <input nz-input name="idchuyenngoai" [(ngModel)]="idchuyenngoai" placeholder="Mã chuyến ngoài" [disabled]="disabledidchuyenngoai"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Nguồn xe</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-select name="nguonxe" nzShowSearch nzAllowClear nzPlaceHolder="Select" [(ngModel)]="nguonxe">
                                <nz-option *ngFor="let lst of listnguonxe" nzLabel="{{lst['lable']}}" nzValue="{{lst['value']}}"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>SDT nguồn xe</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <input nz-input name="sdtnguonxe" [(ngModel)]="sdtnguonxe" placeholder="" [disabled]="disabledsdtnguonxe"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Ngày nhập</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-date-picker
                                name="ngaynhap"
                                [nzFormat]="dateFormat" 
                                [(ngModel)]="ngaynhap" 
                                [nzPlaceHolder]="dateFormat">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Ngày vận chuyển</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-date-picker
                                name="ngayvanchuyen"
                                [nzFormat]="dateFormat" 
                                [(ngModel)]="ngayvanchuyen" 
                                [nzPlaceHolder]="dateFormat">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Ngày dự kiến GH</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <nz-date-picker
                                name="ngaydukiengiaohang"
                                [nzFormat]="dateFormat" 
                                [(ngModel)]="ngaydukiengiaohang" 
                                [nzPlaceHolder]="dateFormat">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Biển số xe</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <input nz-input name="biensoxe" [(ngModel)]="biensoxe" placeholder="Biển số xe" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Tên tài xế</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <input nz-input name="tentaixe" [(ngModel)]="tentaixe" placeholder="Tên tài xê" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Số điện thoại</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <input nz-input name="sodienthoai" [(ngModel)]="sodienthoai" placeholder="Số điện thoại tài xế" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="24" [nzXl]="24" [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="3" [nzXl]="3" [nzLg]="3" [nzMd]="6" [nzSm]="24" [nzXs]="24" [nzFor]="">Ghi chú</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <textarea nz-input name="ghichu" [(ngModel)]="ghichu" placeholder="Ghi chú"  [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </nz-card>
</div>
