<app-page-header [backTpl]="backTpl" [backUrl]="'/default/chuyen/spch00252'" [extraTpl]="huongdanTpl" [pageHeaderInfo]="pageHeaderInfo"></app-page-header>
<ng-template #huongdanTpl>
    <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round" (click)="showVideo()">
        <span nz-icon nzType="star" nzTheme="outline"></span>Hướng dẫn
    </button>
</ng-template>
<ng-template #backTpl>
    <ng-container *ngIf="showreturnBack">
        <span nz-icon nzType="arrow-left" nzTheme="outline">Quay lại</span> 
    </ng-container>
</ng-template>
<div class="normal-table-wrap">
    <nz-card nzHoverable [nzBodyStyle]="{ 'padding-bottom': 0 }" class="m-b-10">
        <form nz-form [formGroup]="headerForm"  (ngSubmit)="submitForm()">
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Mã chuyến ngoài</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <input nz-input name="soodn" formControlName="soodn" placeholder="Mã chuyến ngoài" [disabled]="true" readonly />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Nguồn xe</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24"  [nzErrorTip]="combineTpl">
                            <nz-select name="nguonxe" nzShowSearch nzAllowClear nzPlaceHolder="Select" formControlName="nguonxe" (ngModelChange)="fnChangeNguonXe($event)">
                                <nz-option *ngFor="let lst of listnguonxe" nzLabel="{{lst['datacd']}} - {{lst['datanm']}}" nzValue="{{lst['id']}}"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>SDT nguồn xe</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                            <input nz-input name="sdtnguonxe" id="sdtnguonxe" formControlName="sdtnguonxe" placeholder="" [disabled]="true" readonly/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Ngày nhập</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24"  [nzErrorTip]="combineTpl">
                            <nz-date-picker
                                name="ngaynhap"
                                [nzFormat]="dateFormat" 
                                formControlName="ngaynhap"
                                [nzPlaceHolder]="dateFormat">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Ngày vận chuyển</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24"  [nzErrorTip]="combineTpl">
                            <nz-date-picker
                                name="ngayvanchuyen"
                                [nzFormat]="dateFormat" 
                                formControlName="ngayvanchuyen"
                                [nzPlaceHolder]="dateFormat">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="">Ngày dự kiến GH</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24"  [nzErrorTip]="combineTpl">
                            <nz-date-picker
                                name="ngaydukiengiaohang"
                                [nzFormat]="dateFormat" 
                                formControlName="ngaydukiengiaohang"
                                [nzPlaceHolder]="dateFormat">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Biển số xe</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24"  [nzErrorTip]="combineTpl">
                            <!-- <input nz-input name="biensoxe" formControlName="biensoxe" placeholder="Biển số xe" /> -->
                            <nz-select name="biensoxe" nzShowSearch nzAllowClear nzPlaceHolder="Select" formControlName="biensoxe" >
                                <nz-option *ngFor="let lst of listbsxe" nzLabel="{{lst['datanm']}}" nzValue="{{lst['datacd']}}"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Tên tài xế</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24"  [nzErrorTip]="combineTpl">
                            <!-- <input nz-input name="tentaixe" formControlName="tentaixe" placeholder="Tên tài xê" /> -->
                            <nz-select name="tentaixe" nzShowSearch nzAllowClear nzPlaceHolder="Select" formControlName="tentaixe" (ngModelChange)="fnChangeTaiXe($event)">
                                <nz-option *ngFor="let lst of listtaixe" nzLabel="{{lst['datacd']}}" nzValue="{{lst['datacd']}}"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="" nzRequired>Số điện thoại</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24"  [nzErrorTip]="combineTpl">
                            <input nz-input name="sodienthoai" formControlName="sodienthoai" placeholder="Số điện thoại tài xế" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                      <nz-form-label  [nzXXl]="9" [nzXl]="9" [nzLg]="9" [nzMd]="12" [nzSm]="24" [nzXs]="24" nzRequired>Hình thức thanh toán</nz-form-label>
                      <nz-form-control  [nzXXl]="10" [nzXl]="10" [nzLg]="10" [nzMd]="10" [nzSm]="20" [nzXs]="24" [nzErrorTip]="combineTpl">
                        <nz-radio-group  name="hinhthucthanhtoan" formControlName="hinhthucthanhtoan">
                          <label nz-radio nzValue="0">Trực tiếp</label>
                          <label nz-radio nzValue="1">Ghi nợ</label>
                        </nz-radio-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
            </div>
            <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
                <div nz-col [nzXXl]="24" [nzXl]="24" [nzLg]="24" [nzMd]="24" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="3" [nzXl]="3" [nzLg]="3" [nzMd]="6" [nzSm]="24" [nzXs]="24" [nzFor]="">Ghi chú</nz-form-label>
                        <nz-form-control [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="12" [nzSm]="24" [nzXs]="24"  [nzErrorTip]="combineTpl">
                            <textarea nz-input name="ghichu" formControlName="ghichu"  placeholder="Ghi chú"  [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
        <ng-template #combineTpl let-control>
            <ng-container *ngIf="control.hasError('message')">{{ control.errors.message }}</ng-container>
            <ng-container *ngIf="control.hasError('required')">Phần bắt buộc</ng-container>
        </ng-template>
    </nz-card>
    <app-card-table-wrap [tableTitle]="'Chi tiết đơn hàng'" (reload)="reloadTable()" [btnTpl]="tableBtns" [btnConfirm]="tableConfirm">
        <app-ant-table
        (selectedChange)="selectedChecked($event)"
        [checkedCashArrayFromComment]="checkedCashArray"
        (changePageSize)="changePageSize($event)"
        (changePageNum)="getDataList($event)"
        [tableConfig]="tableConfig"
        [tableData]="dataList"
      ></app-ant-table>
      <ng-template #operationTpl let-id="id" let-stt="stt" let-soID="soID" let-iduser="iduser" let-tenhang="tenhang" let-diadiembochang="diadiembochang" let-soluong="soluong" let-trongluong="trongluong" let-khoiluong="khoiluong" let-tiencuoc="tiencuoc" let-donvitinh="donvitinh" let-status02="status02" let-hinhthucthanhtoan="hinhthucthanhtoan" let-tennguoinhan="tennguoinhan" let-sdtnguoinhan="sdtnguoinhan" let-diachinguoinhan="diachinguoinhan" let-ghichu="ghichu"  let-status03="status03">
        <span *appAuth="ActionCode.ChuyenngoaiEdit" class="operate-text">
          <button nz-button nzType="primary" nzGhost (click)="edit(id,stt,soID,tenhang,iduser,diadiembochang,soluong,trongluong,khoiluong,tiencuoc,donvitinh,status02,hinhthucthanhtoan,tennguoinhan,sdtnguoinhan,diachinguoinhan,ghichu,status03)" [disabled]="btnUpdate">Cập nhật</button>
        </span>
        <span *appAuth="ActionCode.ChuyenngoaiDel" class="operate-text">
          <button nz-button nzType="primary" nzGhost (click)="del(stt)" [disabled]="btnDelete">Hủy</button>
        </span>
      </ng-template>
      <ng-template #tiencuocTpl let-tiencuoc="tiencuoc">
        <span>{{tiencuoc*1000 | currency : "VND" : ''}}</span>
      </ng-template>
      <ng-template #chiphidvtnTpl let-cpdvtncd="cpdvtncd">
        <ng-container *ngIf="cpdvtncd else CpdvtncdTpl">
            <span>{{tongcptnPNH(cpdvtncd) *1000 | currency : "VND" : ''}}</span>
        </ng-container>
        <ng-template #CpdvtncdTpl>
            <span>0</span>
        </ng-template>
      </ng-template>
      <ng-template #tiencuocxengoaiTpl let-status02="status02">
        <span>{{status02*1000 | currency : "VND" : ''}}</span>
      </ng-template>
      <ng-template #tenhangTpl let-tenhang="tenhang">
        <span>{{tenhang}}</span>
      </ng-template>
      <ng-template #diadiembochangTpl let-diadiembochang="diadiembochang">
        <span>{{diadiembochang}}</span>
      </ng-template>
      <ng-template #ghichuTpl let-ghichu="ghichu">
        <span>{{ghichu}}</span>
      </ng-template>
      <ng-template #htttkhachhangTpl let-hinhthucthanhtoan="hinhthucthanhtoan">
        <span>{{mergeHttt(hinhthucthanhtoan)}}</span>
      </ng-template>
      <ng-template #htttxengoaiTpl let-htttxengoai="htttxengoai">
        <span>{{mergeHttt(htttxengoai)}}</span>
      </ng-template>
      <ng-template #sdtnguoinhanTpl let-sdtnguoinhan="sdtnguoinhan">
        <span>{{sdtnguoinhan}}</span>
      </ng-template>
      <ng-template #tennguoinhanTpl let-tennguoinhan="tennguoinhan">
        <span>{{tennguoinhan}}</span>
      </ng-template>
      <ng-template #diachinguoinhanTpl let-diachinguoinhan="diachinguoinhan">
        <span>{{diachinguoinhan}}</span>
      </ng-template>
    </app-card-table-wrap>
    <ng-template #tableBtns>
        <button *appAuth="ActionCode.ChuyenngoaiAddtrongkho" (click)="addtrongkho()" nz-button nzType="primary" class="m-r-8" [disabled]="btnNew">
          <i nz-icon nzType="plus"></i>
          Thêm từ kho
        </button>
        <button *appAuth="ActionCode.ChuyenngoaiAdd" (click)="add()" nz-button nzType="primary" class="m-r-8" [disabled]="btnNew">
          <i nz-icon nzType="plus"></i>
          Thêm mới
        </button>
        <!-- <button *appAuth="ActionCode.DataScDelAll" (click)="allDel()" nz-button nzType="default" [disabled]="btnDeleteAll">
          <i nz-icon nzType="delete"></i>
          Xóa tất cả
        </button> -->
    </ng-template>
    <ng-template #tableConfirm>
        <ng-container *ngIf="showConfirm">
            <span *appAuth="ActionCode.ConfirmChuyenngoai" class="operate-text">
                <button [disabled]="!btnConfirm" (click)="fnBtnConfirm()" [disabled]="!headerForm.valid" nz-button nzType="primary" class="m-r-8">
                    <i nz-icon nzType="caret-right"></i>
                    Confirm
                </button>
            </span>
        </ng-container>
        <ng-container *ngIf="showHuychuyenngoai">
            <span *appAuth="ActionCode.ChuyenngoaiHuy" class="operate-text">
                <button [disabled]="!btnConfirm" (click)="fnBtnHuychuyen()" [disabled]="!headerForm.valid" nz-button nzType="primary" class="m-r-8">
                    <i nz-icon nzType="delete"></i>
                    Hủy chuyến
                </button>
            </span>
        </ng-container>
    </ng-template>
</div>
