<div class="normal-table-wrap">
    <nz-card nzHoverable [nzBodyStyle]="{ 'padding-bottom': 0 }" class="m-b-10">
        <form nz-form [formGroup]="headerForm"  (ngSubmit)="submitForm()">
            <div nz-row [nzGutter]="{md: 24 }">
                <div nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="24" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="">Số ID</nz-form-label>
                        <nz-form-control [nzXXl]="16" [nzXl]="16" [nzLg]="16" [nzMd]="16" [nzSm]="24" [nzXs]="24">
                            <input nz-input name="soID" formControlName="soID" placeholder="Số ID" [disabled]="true" readonly />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzXXl]="12" [nzXl]="12" [nzLg]="12" [nzMd]="24" [nzSm]="24" [nzXs]="24">
                    <nz-form-item>
                        <nz-form-label [nzXXl]="8" [nzXl]="8" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24" [nzFor]="">Số ID</nz-form-label>
                        <nz-form-control [nzXXl]="16" [nzXl]="16" [nzLg]="16" [nzMd]="16" [nzSm]="24" [nzXs]="24">
                            <input nz-input name="soID" formControlName="soID" placeholder="Số ID" [disabled]="true" readonly />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="{md: 24 }" [ngClass]="['toright']">
                    <button   (click)="getDataList()" nz-button nzType="primary"><i nz-icon nzType="search"></i>Tìm kiếm</button>
                    <button class="m-l-20" nzGhost (click)="reset()" nz-button nzType="primary"><i nz-icon nzType="close-circle"></i>Làm mới</button>
            </div>
        </form>
    </nz-card>
</div>
<app-card-table-wrap [tableTitle]="'Kết quả tìm kiếm'" (reload)="reloadTable()" [btnTpl]="tableTbl" [isNormalTable]="false">
    <app-ant-table 
       [tableConfig]="tableConfig" 
       (changePageSize)="changePageSize($event)" 
       (changePageNum)="getDataList($event)" 
       [tableData]="dataList">
    </app-ant-table>
    <ng-template #operationTpl let-id="id" let-name="name">
        <a nz-button nzType="link"  (click)="getItem(id,name)">{{name}}</a>
    </ng-template>
</app-card-table-wrap>
<ng-template #tableTbl> 
    <button   (click)="addNew()" nz-button nzType="primary"><i nz-icon nzType="plus"></i>Thêm mới</button>
</ng-template>
